@charset "utf-8";
/* CSS Document */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", "Helvetica Neue", YuGothic, Verdana, Meiryo, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  overflow-x: hidden;
  box-sizing: border-box;
  color: #686868;
  background-color: #f4f6f7;
  clear: both;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", "Helvetica Neue", YuGothic, Verdana, Meiryo, sans-serif;
}
.h1, h1 {
  font-size: 62px;
}
.h2, h2 {
  font-size: 32px;
}
.h3, h3 {
  font-size: 24px;
}
.h4, h4 {
  font-size: 18px;
}
.h5, h5 {
  font-size: 16px;
}
.h6, h6 {
  font-size: 16px;
}
img {
  vertical-align: bottom;
    max-width: 100%;
    height: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ol {
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: none;
  -webkit-transition: color, background-color, border-color, opacity 0.5s;
  -o-transition: color, background-color, border-color, opacity 0.5s;
  transition: color, background-color, border-color, opacity 0.5s;
}
a:hover {
  color: #000;
  text-decoration: none;
  opacity: 0.8;
}
li {
  position: relative;
}
ul li::before {
  content: "";
  width: 10px;
  height: 1px;
  position: absolute;
  top: 0.6em;
  left: -1em;
}
.mt-20 {
  margin-top: 10%;
}
.no-list-style li::before {
  display: none;
}
.custom-control-label {
  line-height: 1.5;
}
.custom-control-label::before {
  background-color: #fff;
  border: 1px solid #ced4da;
}
.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  border: none;
}
.logo {
  display: block;
  margin: 20px auto;
  pointer-events: auto;
}
.menu {
  width: 100%;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #fbfcfc;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}
.menu li {
  float: left;
  width: 30%;
  text-align: center;
}
.menu li a {
  display: block;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
      width: 100%;
}
.menu li a:hover {
  color: #cb4335;
}
.text {
  color: #333;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}
/* ==========================================================================
    
   ========================================================================== */
/*grid*/
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
 /* grid-auto-columns: 100px;*/
  background-color: #fff;
  color: #444;
  padding: 40px;
  position: relative;
}
.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  
}
.a {
  grid-column: 1 / 3;
  grid-row: 1;
}
.b {
  grid-column: 3;
  grid-row: 1 / 3;
}
.c {
  grid-column: 1;
  grid-row: 2;
}
.d {
  grid-column: 2;
  grid-row: 2;
}
.e {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}
.f {
  grid-column: 1/5;
  grid-row: 3;
  
}
/*end grid*/

/* ==========================================================================
    
   ========================================================================== */
/*socail*/
.instagram {
  position: absolute;
  background:#fff;
  background: #6610f2;
  text-align: center;
  bottom: 10%;
  left: 45%;
  padding: 4px;
  border: 2px solid;
  font-size: 14px;
  color: #fff;
}

/*end social*/
/* ==========================================================================
    
   ========================================================================== */
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer-txt {
  text-align: center;
  color: #000;
  font-size: 10px;
}


/**/
mySelect {
    padding: .2em 0;
    font-size: 1em;
}
#myDiv {
    color:Green;
    background-color:#eee;
    border:2px solid #333;
    display:none;
    text-align:justify;
}
#myDiv p {
    margin: 15px;
    font-size: 0.917em;
}
/** Style for the cointainer **/
 #body {
    clear: both;
    margin: 0 auto;
    max-width: 534px;
}

/*about*/
.about-banner {
  background-image: url("../images/about-banner.jpg");
  height: 400px;
  
}
/*about*/