<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="myapp" ng-controller="ctrl" ng-init="col='lightblue'; quantity=1; cost=5">
  <p>Firstname: <input style="background-color: {{col}}" type="text"  ng-model="firstname"></p>
  <p>Lastname: <input type="text"  ng-model="lastname"></p>
  
  <br>
  <p> Full Name: {{firstname + " " + lastname}}</p>
  <p>Total {{ quantity * cost }}</p>
  
  <script>
  
  var app = angular.module('myapp',[]);
    app.controller('ctrl',function($scope){
                   $scope.firstname = "Jhon";
                   $scope.lastname ="Whill";
                   
                   });
  </script>
</body>
</html>
